# dependencies
node_modules

# build outputs
dist
coverage
*.tsbuildinfo

# environment files
.env
.env.docker
.env.docker.local
.env.local
.env.*.local

# Bun
.bun

# Playwright
playwright-report
test-results
