API_PORT=3001
DATABASE_URL=postgres://postgres:postgres@localhost:5432/kanban
BETTER_AUTH_SECRET=BETTER_AUTH_SECRET=/CGhIu8oXv7cPfc6klnI/M2eJa4hdWyDmBnVoNmKF9yy3oxUyjanqDbE6/PQA79PKd8CBxRMnrH6xuKQsgsZPw==
CORS_ORIGIN=http://localhost:5173
DOG_API_BASE_URL=https://api.thedogapi.com/v1
